@using bootstrap_cons_api.Services
@{
    var obj = new ServicesDataResponse().GetDataResponse("https://lotericas.io/api/v1/jogos/loteca/lasted");
    var obj2 = obj.Data[0];
    ViewData["Title"] = "Loteca";
}
<h1>@ViewData["Title"]</h1>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[0].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[0].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[1].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[1].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[2].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[2].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[3].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[3].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[4].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[4].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[5].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[5].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[6].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[6].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[7].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[7].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[8].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[8].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[9].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[9].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[10].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[10].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[11].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[11].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[12].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[12].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[13].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[13].NomeEquipeDois </h1>
            </div>
        </div>
    </div>

    <div class="col-lg-10  col-sm-10">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-body">
                <h1 class="card-title pricing-card-title">Equipe 1: @obj2.ListaResultadoEquipeEsportiva[13].NomeEquipeUm
                    Equipe 2: @obj2.ListaResultadoEquipeEsportiva[13].NomeEquipeDois </h1>
            </div>
        </div>
    </div>



</div>